$first-color: #5eb23f;
$second-color: #A82F12;
$third-color: #226B39;
$fourth-color: #BF793D;

$color-text: #363636;

$title-font: 'Courgette', Arial, sans-serif;
$text-font: 'Roboto', Arial, sans-serif;
$nav-font: 'Karla', Arial, sans-serif;